In [1]:
import pandas as pd, numpy as np

In [2]:
# we want to get the final list of genes we want to connect to dgidb with
with open('./gene datasets/coronavirus-functional-enriched.csv') as f:
    df = pd.read_csv(f, sep=',')

In [3]:
df

    SUID  Betweenness unDir  Degree unDir    name  selected shared name
0    112         459.144615          26.0    IL10      True        IL10
1    113        1063.442358          27.0     IL6      True         IL6
2     81         185.974808          12.0   PSMD1      True       PSMD1
3    178         174.940176          16.0    IL13      True        IL13
4    210         237.484074          12.0   ICAM1      True       ICAM1
5     84         541.974504          19.0    TP53      True        TP53
6    148         264.727897          17.0     IL2      True         IL2
7    150         448.843510          21.0    IRF7      True        IRF7
8    122         157.953764          20.0    IL1B      True        IL1B
9    154         341.524183          17.0   MAPK8      True       MAPK8
10    92         235.783825          16.0   TRAF3      True       TRAF3
11   126         793.593130          30.0     TNF      True         TNF
12   158         241.958796          15.0    TLR4      True        TLR4
13   129         720.299160          20.0   STAT1      True       STAT1
14   162         838.933270          21.0    AKT1      True        AKT1
15   131         166.319409          18.0     IL4      True         IL4
16   133         195.105069          17.0   CXCL8      True       CXCL8
17   165         174.717297          12.0    RHOA      True        RHOA
18   231         350.068874          12.0   SMAD3      True       SMAD3
19   201         782.349078          23.0   MAPK1      True       MAPK1
20   297        1148.709386          25.0   NFKB1      True       NFKB1
21   203         152.042866          15.0  MAPK14      True      MAPK14
22   205         924.687747          25.0   MAPK3      True       MAPK3

In [5]:
unique_genes = df['name'].unique()
print(f'Number of unique gene names: {unique_genes.size}')

Number of unique gene names: 23

In [7]:
# save unique genes list as a csv file
with open('./gene datasets/coronavirus-functional-enriched-genes.csv', 'w+') as f:
    np.savetxt(f, unique_genes, delimiter=',', fmt='%s')
    print('File written successfully!')

File written successfully!